@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
  font-family: 'Itim', cursive;
}

.site-header {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
}

.goat-corral {
  display: flex; 
  flex-flow: wrap;
  justify-content: center;
}

.Goat {
  margin: 1rem;
}
